table thead{
    background-color: #165;
    color: white;
    padding: 0px;
    margin: 0px;
    /* border: 0.5px solid lightgray; */
}
thead tr th{
    border: 0.5px solid lightgray; 
}
tbody tr{
    border: 0.5px solid gray;
}